{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">

<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- templates/registration/login.html -->

<div class="container" style="margin-top: 5%">
    <h1>Octogatos</h1>

    <img src="{% static 'images/jazzCats.jpg' %}" class="u-max-full-width"
         alt="Jazz Cats">

    <form action="/login" style="margin-top: 5%">
        <button class="button-primary">Log in</button>
    </form>
</div>
